@import "_variables";

@mixin glassy($blur: $blur, $sat: $sat) {
  background: linear-gradient(-45deg, $purple-tint, $dark-tint);
  backdrop-filter: blur($blur) saturate($sat);
  -webkit-backdrop-filter: blur($blur) saturate($sat);
  border: 1px solid $glass-border;
  box-shadow:
    0 18px 55px $shadow-outer,
    inset 0 1px 0 $shadow-inset;
}