// dark theme
$bg-dark: #1A1A1D;
$primary-color-dark: #3b1c32;
$secondary-color-dark: #6A1E55;
$hover-color-dark: #A64D79;

// light theme
$bg-light: #FCF8F8;
$primary-color-light: #FBEFEF;
$secondary-color-light: #F9DFDF;
$hover-color-light: #F5AFAF;

//carousel

$picker-width: 420px;     // 3 columns
$col-width: 140px;
$picker-height: 90px;

$radius: 999px;

$purple-tint: rgba(106, 30, 85, 0.18);
$dark-tint: rgba(26, 26, 29, 0.35);

$glass-border: rgba(255, 255, 255, 0.12);
$glass-border-strong: rgba(255, 255, 255, 0.14);
$glass-shine: rgba(255, 255, 255, 0.06);

$shadow-outer: rgba(0, 0, 0, 0.45);
$shadow-inset: rgba(255, 255, 255, 0.06);

$text: rgba(255, 255, 255, 0.9);

$side-opacity: 0.42;
$side-blur: 1.2px;